* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background:#0d0d0d;
  max-width: 1200px;
}

/* clearfix */


/* ---- grid-item ---- */



.btn {margin: 5px;}
#animal-view {
    text-align: center;
}
body{
    background-color: #0d0d0d

}
.container{
    color: antiquewhite
}